@model App.Models.VMModels.VMNewsComments
@using Microsoft.AspNetCore.Http;
@using System;
@{ 
    var newsId = this.ViewData["NewsId"];
    var commentsId = this.ViewData["CommentsId"];
}
@if (User.Identity.IsAuthenticated)
{
<form method="post" asp-controller="news" asp-action="post-comments">
    <input type="hidden" asp-for="NewsId" value="@newsId">
    <input type="hidden" asp-for="ReplyId" value="@commentsId">
    <input type="hidden" asp-for="CommentsPath" value="@Context.Request.Path">
    <div class="row">
        <div class="col-xl-12">
            <textarea name="comments" id="comments" cols="30" rows="10" placeholder="Your Comments"></textarea>
            <button class="btn brand-btn" type="submit">Reply</button>
        </div>
    </div>
</form>
}
else
{
    <a class="btn brand-btn" asp-action="login" asp-controller="accounts">Login First</a>
}