@model IEnumerable<App.Models.VMModels.VMNewsFrontModel>
<!-- also-like -->
<div class="also-like mt-30">
    <div class="section-title mb-30">
        <h2>You may also like</h2>
    </div>
    <div class="row">
        @foreach (var news in Model)
        {
            <div class="col-lg-4 col-md-4">
                <div class="postbox mb-30">
                    <div class="postbox__thumb">
                        <a href="~/news/@news.CategoryInfo.CategorySlug/@news.TitleSlug">
                            <img src="@Url.Content(string.IsNullOrEmpty(news.FeaturedImage) == false ? news.FeaturedImage : "~/back/No_Image_Available.jpg")" alt="@news.Title" />
                        </a>
                    </div>
                    <div class="postbox__text pt-10">
                        <div class="postbox__text-meta pb-10">
                            <ul>
                                <li>
                                    <i class="fas fa-calendar-alt"></i>
                                    <span>@news.CreatedDate.Value.ToString("dd MMM yyyy")</span>
                                </li>
                                <li>
                                    <i class="far fa-comment"></i>
                                    <span>(03)</span>
                                </li>
                            </ul>
                        </div>
                        <h4 class="pr-0">
                            <a href="~/news/@news.CategoryInfo.CategorySlug/@news.TitleSlug">@news.Title</a>
                        </h4>
                    </div>
                </div>
            </div>
        }
    </div>
</div>