@model IEnumerable<App.Models.VMModels.VMBreakingNews>
<!-- breaking start -->
<section class="breaking pt-25 pb-25">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="breaking__meta mb-30">
                    <ul>
                        <li><i class="fas fa-calendar-alt"></i> <span>@DateTime.Now.ToString("ddd, dd MMM yyyy")</span></li>
                        <li><i class="fas fa-map-marker-alt"></i> <span>New York</span></li>
                        <li><i class="far fa-clock"></i> <span>5 Minute ago</span></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <!-- Breaking News Wrapper Start -->
                <div class="breaking__wrapper">
                    <!-- Breaking News Title -->
                    <h5 class="breaking__title ">Breaking News</h5>

                    <!-- Breaking Newsticker Start -->
                    <ul class="breaking__ticker-active owl-carousel">
                        @foreach (var item in Model)
                        {
                            <li>
                                <a href="~/news/@item.CategorySlug/@item.TitleSlug">@item.Title</a>
                            </li>
                        }
                    </ul>
                    <!-- Breaking Newsticker Start -->
                </div>
                <!-- Breaking News Wrapper End -->
            </div>
        </div>
    </div>
</section>
<!-- breaking end -->