
<div class="row">
    <div class="col-12">
        <!-- Breaking News Wrapper Start -->
        <div class="breaking__wrapper">
            <!-- Breaking News Title -->
            <h5 class="breaking__title ">Breaking News</h5>

            <!-- Breaking Newsticker Start -->
            <ul class="breaking__ticker-active owl-carousel">
                <li>
                    <a href="#">On the other hand we denounce with righteous indignation and dislike men who are so beguiled</a>
                </li>
                <li>
                    <a href="#">Trump’s Inaccurate Claims About High ways the world, Immigration and Beyoncé.</a>
                </li>
                <li>
                    <a href="#">Moving From Buyer to Seller, Major League Soccer Revenue In The World Wide.</a>
                </li>
            </ul>
            <!-- Breaking Newsticker Start -->
        </div>
        <!-- Breaking News Wrapper End -->
    </div>
</div>