@model IEnumerable<App.Models.Models.UserRole>

@{
    ViewData["Title"] = "Index";
}

<div class="col-12">
    <div class="page-title-box d-flex align-items-center justify-content-between">
        <h4 class="mb-0 font-size-18">User Roles</h4>

        <div class="page-title-right">
            <ol class="breadcrumb m-0">
                <li class="breadcrumb-item"><a asp-action="" asp-area="admin" asp-controller="dashboard">Dashboard</a></li>
                <li class="breadcrumb-item active">User Roles</li>
            </ol>
        </div>

    </div>
</div>

<div class="col-md-12">
    <div class="card">
        <h5 class="card-header">User Roles</h5>
        <div class="card-body">
            <table id="grid">
                <colgroup>
                    <col />
                    <col />
                    <col />
                </colgroup>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Role</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Role)
                        </td>
                        <td>
                            <a asp-action="edit" asp-route-id="@item.Id" asp-area="admin" asp-controller="role" class="btn-grid bg-success"><i class="mdi mdi-content-save-edit"></i></a>
                            @*<a asp-action="delete" asp-route-id="@item.Id" asp-area="admin" asp-controller="role" class="btn-grid bg-danger"><i class="mdi mdi-trash-can"></i></a>*@
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="fixed-action-btn vertical">
    <a asp-action="create" asp-area="admin" asp-controller="role" class="btn-floating btn-large red pulse" title="Add Category">
        <i class="bx bx-plus"></i>
    </a>
</div>

<script>

    $(document).ready(function () {
        $("#grid").kendoGrid({
            sortable: true,
            height: 350,
            dataSource: {
                pageSize: 20,
            },
            pageable: {
                refresh: true,
                pageSizes: true,
                buttonCount: 5
            },
        });
    });

</script>