.login-box{
    max-width: 400px;
    margin: 50px auto;
    background: #e8e8e8;
    padding: 40px 20px;
}
.login-header{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.login-header small{
    font-size: 14px;
}

.reply_dailog{
    cursor: pointer;
}

.tf_left {
    max-width: 100px;
}
img.small-thumb {
    max-width: 100px;
    max-height: 85px;
}